* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
}

body {
  background: #f8f9fb;
  color: #333;
}

/* ===== Navbar ===== */
.navbar {
  width: 100%;
  padding: 20px 60px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #ffffff;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.05);
  position: sticky;
  top: 0;
  z-index: 100;

  .login{
    display: flex;
    gap: 40px;
    a{
      text-decoration: none;
      color: black;
      font-weight: 600;
    }
  }
}

.logo {
  font-size: 24px;
  font-weight: 700;
  color: #333;
}

.cart {
  position: relative;
  cursor: pointer;
}

.cart img {
  width: 32px;
}

.cart-count {
  position: absolute;
  top: -8px;
  right: -8px;
  background: #ff4757;
  color: #fff;
  font-size: 12px;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;
}

/* HERO SECTION */
.hero {
  padding: 80px 60px;
  background: #eef1f7;
  text-align: center;
}

.hero h1 {
  font-size: 42px;
  margin-bottom: 10px;
}

.hero p {
  font-size: 18px;
  color: #666;
}

/* ===== Product Grid ===== */
.products {
  padding: 60px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(260px, 1fr));
  gap: 30px;
}

.product-card {
  background: white;
  border-radius: 10px;
  box-shadow: 0 2px 15px rgba(0, 0, 0, 0.08);
  padding: 20px;
  text-align: center;
  transition: 0.3s ease;
}

.product-card:hover {
  transform: translateY(-5px);
}

.product-card img {
  width: 100%;
  border-radius: 10px;
  height: 220px;
  object-fit: cover;
}

.product-card h3 {
  margin: 15px 0 5px;
  font-size: 20px;
}

.price {
  font-size: 18px;
  color: #2d89ef;
  margin-bottom: 15px;
}

.add-btn {
  padding: 10px 20px;
  background: #2d89ef;
  border: none;
  border-radius: 6px;
  color: white;
  cursor: pointer;
  font-size: 15px;
  transition: 0.2s;
}

.add-btn:hover {
  background: #1f6ccd;
}

/* ===== Footer ===== */
footer {
  text-align: center;
  padding: 30px;
  background: #f1f1f1;
  margin-top: 50px;
  font-size: 14px;
  color: #555;
}